@import 'nib'
@import "./pure-min.css"
@import "./blog.css"
@import "./grids-responsive-min.css"

@import '../node_modules/d-image-crop'
@import '../node_modules/d-light-box'
@import '../node_modules/d-pagedown/src/css/style'

.sidebar a
	color #fff

.box-container img
	margin 20px auto
	max-width 600px
	display block
	
.post-description img
	max-width 200px