@import 'nib'
@import "./pure-min.css"
@import "./blog.css"
@import "./grids-responsive-min.css"

@import '../node_modules/d-image-crop'

.sidebar a
	color #fff
	
.post-description img
	max-width 200px