@import 'nib'
@import "./pure-min.css"
@import "./blog.css"
@import "./grids-responsive-min.css"

@import '../node_modules/d-image-crop'
@import '../node_modules/d-photo-upload'
@import '../node_modules/d-light-box'
@import '../node_modules/d-pagedown/src/css/style'
@import '../node_modules/derby-ui-toast/css'
@import '../node_modules/derby-ui-toast/css/bg-fontawesome.css'

section
	width 240px
	height 450px
	float left
	margin 20px
	box-sizing border-box
	overflow hidden

.sidebar *
.sidebar *
	font-family Georgia
	font-style italic
	font-weight 100

.brand-title
	text-transform: lowercase;
	font-size 36px
	margin-bottom 1em
	a:hover
		text-decoration none

.sidebar a
	color #fff

.box-container img
	margin 20px auto
	max-width 600px
	display block
	
.post-description img
	max-width 200px
	
.ml
	margin-left 20px 
.dim 
	color #999
	font-size 13px
	font-style italic
	a
		color #89a
		text-decoration none

.footer
	position absolute
	bottom 0
	right 10px
	a
		color #89a