<Title:>
	Derby demos by ile

<Head:>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<Body:>
	<div id="layout" class="pure-g">
		<div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title"><a href="/"><img src="https://raw.githubusercontent.com/derbyjs/derby-assets/master/derby-medium-transparent.png" style="width:100px">component examples</a></h1>
            <h2 class="brand-tagline">by <a target="_blank" href="https://github.com/ile/">ile</a></h2>
            <!-- <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="http://purecss.io">Pure</a>
                    </li>
                </ul>
            </nav> -->
        </div>
        <div class="footer"><a href="http://derbyjs.com" target="_blank">derbyjs.com</a></div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
      {{if _page.component}}
      <h1><a href="/">home</a> &raquo; <a href="{{_page.component.name}}">{{_page.component.name}}</a> <span class="dim ml"><a href="{{_page.component.github}}" target="_blank"><i class="fa fa-github"></i> See the project at GitHub</a></span></h1>
      {{/}}
			<view name={{$render.ns}}></view>
		</div>
	</div>


<home:>
		{{each _page.components as #c}}
				<section class="post">
          <header class="post-header">
              <h2 class="post-title"><a href="{{#c.name}}">{{#c.name}}</a></h2>
          </header>
          <div class="dim"><a href="{{#c.github}}"><i class="fa fa-github"></i> GitHub</a></div>
          <div class="post-description">
              {{unescaped #c.descr}}
          </div>
      </section>

		{{/each}}

<d-image-crop-example:>
  <p>Note: this is the image cropper ui widget; you will have to do the actual file manipulation server side with software like <a href="http://aheckmann.github.io/gm/" target="_blank">graphicsmagick</a> or imagemagick.</p>
	<d-image-crop src="{{_page.cropthis}}" on-submit="cropped()"></d-image-crop>
	{{if _page.result}}
		<h2>Cropped! Result:</h2>
		<p>{{_page.result}}</p>
	{{/}}
  <img src="http://www.wpclipart.com/famous/science/Einstein/Einstein_portrait.jpg">
	{{if !_page.cropthis}}
		<p style="margin-top:2em"><button class="pure-button pure-button-primary" on-click="crop('http://www.wpclipart.com/famous/science/Einstein/Einstein_portrait.jpg')">Crop this photo</button></p>
	{{/}}

<d-light-box-example:>
  <d-light-box selector=".box-container img"></d-light-box>
  <div class="box-container">
    <img src="https://farm8.staticflickr.com/7252/13994069235_0df17bdc0f_h.jpg">
    <img src="https://farm4.staticflickr.com/3766/13169486404_1342fc8c98_b.jpg">
    <img src="https://farm8.staticflickr.com/7434/13072388233_9fb9335319_b.jpg">
  </div>

<d-pagedown-example:>
  <p>Note: this is just an editor, this won't convert Markdown into HTML - you can use <a href="https://github.com/chjj/marked">marked</a> for converting, for example.</p>
  <view name="d-pagedown" name_="comment[body]" placeholder="Leave a comment..." id="d-pagedown" text="{{#root._page.text}}"></view>

<d-textarea-example:>
  <view name="d-textarea" name_="comment[body]" placeholder="Leave a comment..." text="{{#root._page.text}}"></view>

<d-photo-upload-example:>
  <p>Click the image to upload a new one or drag and drop a new image over it.</p>
  <d-photo-upload on-uploaded="uploaded()" on-err="handleError()" url="/upload" class="file-input" inputname="photo" src="{{_page.photo}}" lang="en"></d-photo-upload>

