<Title:>
	{{$render.ns}} Example..

<Body:>
	<div id="layout" class="pure-g">
		<div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title"><a href="/">Derby component examples</a></h1>
            <h2 class="brand-tagline">by <a target="_blank" href="https://github.com/ile/">ile</a></h2>
            <!-- <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="http://purecss.io">Pure</a>
                    </li>
                </ul>
            </nav> -->
        </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
      {{if _page.component}}
      <a href="/">home</a> &raquo; <a href="{{_page.component}}">{{_page.component}}</a>
      {{/}}
			<view name={{$render.ns}}></view>
		</div>
	</div>


<home:>
		{{each _page.components as #c}}

				<section class="post">
          <header class="post-header">
              <h2 class="post-title"><a href="{{#c.name}}">{{#c.name}}</a></h2>
          </header>

          <div class="post-description">
              {{unescaped #c.descr}}
          </div>
      </section>

		{{/each}}

<d-image-crop-example:>
	<d-image-crop src="{{_page.cropthis}}" on-submit="cropped()"></d-image-crop>
	{{if _page.result}}
		<h2>Cropped! Result:</h2>
		<p>{{_page.result}}</p>
	{{/}}
	{{if !_page.cropthis}}
		<p><button class="pure-button" on-click="crop()">Crop another</button></p>
	{{/}}

<d-light-box-example:>
  <d-light-box selector=".box-container img"></d-light-box>
  <div class="box-container">
    <img src="https://farm8.staticflickr.com/7252/13994069235_0df17bdc0f_h.jpg">
    <img src="https://farm4.staticflickr.com/3766/13169486404_1342fc8c98_b.jpg">
    <img src="https://farm8.staticflickr.com/7434/13072388233_9fb9335319_b.jpg">
  </div>